{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/creator.css' %}">
        <link rel="stylesheet" href="{% static 'css/men.css' %}">
    </head>
<body>    

    <section class="rw-wrapper">
        <h2 class="rw-sentence">					
    <span>Who am I?<br />  I'm</span>
            <div class="rw-words rw-words-1">
                <span>a designer.</span>
                <span>a front-end developer.</span>
                <span>an artist.</span>
                <span>a writer.</span>
                <span>a creator.</span>
            </div>
        </h2>
    </section>

    <canvas></canvas><!-- 
        o
         \_/\o
        ( Oo)                    \|/
        (_=-)  .===O-  ~~Z~A~P~~ -O-
        /   \_/U'                /|\
        ||  |_/
        \\  |
        {K ||
         | PP
         | ||
         (__\\
        
        
        -->

<script src="{% static 'js/creator.js' %}"></script>
<script src="{% static 'js/men.js' %}"></script>
</body>
</html> 