
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron">
        {% if registered %}
             <h1>Thanks for registering, Please Log in!</h1>
         {% else %}
             <h1>Registration for Customer:</h1>
             <form action="" method="POST">
                 {% csrf_token %}
                 {{ var_customerForm.as_p }}
                 {{ var_customerAddForm.as_p }}
                 <input type="submit" value="Register" class="btn btn-primary">
             </form>
         {% endif %}
     </div>
</body>
</html>




